body {
    font-family: 'Roboto', sans-serif;
    background-color: #0c1429;
    margin: 0 
}

.highlight {
    color: #008f11;
}

div {
    border: 2px solid #c9c9b6;
    padding: 1rem;
    width: 85%;
    margin: 5rem auto;
    background-color: #1d263b;
}

div h2 {
    font-size: 2rem;
    color: #c9c9b6;
}

div p {
    font-size: 1rem;
    color: #c9c9b6;
}

div.main {
    margin: 1rem auto;
}

div.main p {
    font-size: 2.4rem;
}

div.scroll {
    background: none;
    border: none;
    position: fixed;
    left: 0%;
    right: 0%;
    width: 75%;
    margin: 0 12.5%;
    text-align: center;
    padding: 0;
    opacity: 0.5;
}

div.scroll p {
    margin: 0 auto;
    margin-bottom: 0.2rem;
}

div.scroll img {
    width: 10%;
}

@media screen and (min-width: 601px) {
    div {
        width: 75%;
        margin: 20rem auto;
    }

    div h2 {
        font-size: 3rem;
    }

    div p {
        font-size: 1.5rem;
    }

    div.main {
        margin: 12.5% auto;
    }

    div.main p {
        font-size: 4rem;
        margin: 0.5rem auto;
    }

    div.scroll {
        margin-top: 0;
        position: fixed;
        top: 85%;
    }

    div.scroll p {
        font-size: 1rem;
    }

    div.scroll img {
        width: 1.5%;
    }
}