body {
    font-family: 'Roboto', sans-serif;
}

.sidebar {
    margin: 0px;
    padding: 0px;
    padding-left: 15px;
    width: 200px;
    position: fixed;
    height: 100%;
    overflow: auto;
    background-color: aquamarine;
}

.sidebar a {
    display: block;
    padding: 16px;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
}